<div class="list">
    {{ for(var i = 1; i <= len; i++ ) { }}
    <div class="item">
        <div class="title">Title {{= i }}</div>
        <div class="info">

        </div>
        <div class="content">
            Item {{= i }}<br/>
            Item {{= i }}
        </div>
        <div class="footer">
            <span class="info">
                {{= new Date().getFullYear() + '-' + (new Date().getMonth() + 1) + '-' + new Date().getDate() }}
            </span>
            <span class="info">
                作者：Henry
            </span>
            <span class="info">
                分类：<a href="#">Category</a>
            </span>
            <span class="info">
                标签：<a href="#">Tag</a> <a href="#">Tag</a> <a href="#">Tag</a>
            </span>
            <a class="text-highlight link" href="/blog/{{= i }}"> 详细阅读 </a>
        </div>
        <!--<hr class="split"/>-->
    </div>
    {{ } }}
</div>