<!--<div class="list">-->
<!--{{ for(var i = 1; i <= len; i++ ) { }}-->
<!--<div class="item">-->
<!--<div class="title">Title {{= i }}</div>-->
<!--<div class="content" style="min-height: {{= (i % 3 + 1) * 150 }}px;">-->
<!--Item {{= i }}<br>-->
<!--</div>-->
<!--<div class="footer">-->
<!--<a class="text-highlight" href="/test/{{= i - 1 }}">-->
<!--<span class="oi" data-glyph="magnifying-glass" title="详细阅读" aria-hidden="true">&nbsp;详细阅读</span>-->
<!--</a>+-->
<!--</div>-->
<!--</div>-->
<!--{{ } }}-->
<!--</div>-->

<div class="ui teal top attached segment">
    <div class="ui right floated header">
        <a class="ui small teal circular button" href="#">查看所有</a>
    </div>
    <h2 class="ui left floated teal header">日志</h2>
</div>
<div class="ui bottom attached segment">

    <div class="ui very relaxed divided list">
        <div class="item">
            <div class="ui right floated labels">
                <div class="ui blue label">
                    <i class="icon unhide"></i> 25
                </div>
                <div class="ui teal label">
                    <i class="icon comment outline"></i> 23
                </div>
            </div>

            <i class="map marker icon"></i>

            <div class="content">
                <a class="header">New York City</a>

                <div class="description">A lovely city</div>
            </div>
        </div>
        <div class="item">
            <div class="ui right floated labels">
                <div class="ui blue label">
                    <i class="icon unhide"></i> 25
                </div>
                <div class="ui teal label">
                    <i class="icon comment outline"></i> 23
                </div>
            </div>

            <i class="map marker icon"></i>

            <div class="content">
                <a class="header">Chicago</a>

                <div class="description">A lovely city</div>
            </div>
        </div>
        <div class="item">
            <div class="ui right floated labels">
                <div class="ui blue label">
                    <i class="icon unhide"></i> 25
                </div>
                <div class="ui teal label">
                    <i class="icon comment outline"></i> 23
                </div>
            </div>

            <i class="map marker icon"></i>

            <div class="content">
                <a class="header">Los Angeles</a>

                <div class="description">A lovely city</div>
            </div>
        </div>
    </div>
</div>

<div class="ui purple top attached segment">
    <div class="ui right floated header">
        <a class="ui small purple circular button" href="#">查看所有</a>
    </div>
    <h2 class="ui left floated purple header">相册</h2>
</div>
<div class="ui bottom attached segment">

    <div class="ui four items">
        <div class="item">
            <div class="content">
                <div class="name">爱酷学习网天前Bootstrap视频教程</div>
                <p class="description">Bootstrap是由Twitter开发的一个前端框架，和Semantic UI类似，不过没有Semantic
                    UI这么多的控件，和Semantic UI比起来稍微差一些。</p>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <div class="name">爱酷学习网Semantic UI视频教程</div>
                <p class="description">以Semantic UI中文网为依托对Semantic UI的各个控件、模块以及元素进行讲解。</p>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <div class="name">爱酷学习网ExtJS视频教程</div>
                <p class="description">
                    ExtJS是一个重量级的前端框架，非常重量级，如果没有特殊需要，不要使用这个框架。ExtJS可以做到完全的Ajax化，但是类库大，学习曲线高，且就算是压缩后的文件大小也非常大，影响它的使用。</p>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <div class="name">爱酷学习网天前Bootstrap视频教程</div>
                <p class="description">Bootstrap是由Twitter开发的一个前端框架，和Semantic UI类似，不过没有Semantic
                    UI这么多的控件，和Semantic UI比起来稍微差一些。</p>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <div class="name">爱酷学习网Semantic UI视频教程</div>
                <p class="description">以Semantic UI中文网为依托对Semantic UI的各个控件、模块以及元素进行讲解。</p>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <div class="name">爱酷学习网ExtJS视频教程</div>
                <p class="description">
                    ExtJS是一个重量级的前端框架，非常重量级，如果没有特殊需要，不要使用这个框架。ExtJS可以做到完全的Ajax化，但是类库大，学习曲线高，且就算是压缩后的文件大小也非常大，影响它的使用。</p>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <div class="name">爱酷学习网天前Bootstrap视频教程</div>
                <p class="description">Bootstrap是由Twitter开发的一个前端框架，和Semantic UI类似，不过没有Semantic
                    UI这么多的控件，和Semantic UI比起来稍微差一些。</p>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <div class="name">爱酷学习网Semantic UI视频教程</div>
                <p class="description">以Semantic UI中文网为依托对Semantic UI的各个控件、模块以及元素进行讲解。</p>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <div class="name">爱酷学习网ExtJS视频教程</div>
                <p class="description">
                    ExtJS是一个重量级的前端框架，非常重量级，如果没有特殊需要，不要使用这个框架。ExtJS可以做到完全的Ajax化，但是类库大，学习曲线高，且就算是压缩后的文件大小也非常大，影响它的使用。</p>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <div class="name">爱酷学习网天前Bootstrap视频教程</div>
                <p class="description">Bootstrap是由Twitter开发的一个前端框架，和Semantic UI类似，不过没有Semantic
                    UI这么多的控件，和Semantic UI比起来稍微差一些。</p>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <div class="name">爱酷学习网Semantic UI视频教程</div>
                <p class="description">以Semantic UI中文网为依托对Semantic UI的各个控件、模块以及元素进行讲解。</p>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <div class="name">爱酷学习网ExtJS视频教程</div>
                <p class="description">
                    ExtJS是一个重量级的前端框架，非常重量级，如果没有特殊需要，不要使用这个框架。ExtJS可以做到完全的Ajax化，但是类库大，学习曲线高，且就算是压缩后的文件大小也非常大，影响它的使用。</p>
            </div>
        </div>
    </div>
</div>