<!DOCTYPE html>
<html>
<head>
    <title>{{= title }}</title>
    <link rel="stylesheet" href="/css/reset.css"/>
    <link rel="stylesheet" href="/css/global.css"/>
</head>
<body>

<div id="header">
    <h1 id="logo">Henry</h1>
</div>
<div id="sidebar">
    <div class="side-block">Block</div>
    <div class="side-block">Block</div>
    <div class="side-block">Block</div>
    <div class="side-block">Block</div>
</div>
<div id="main-content">
    <div id="content">
        {{- body -}}
    </div>
</div>
<div id="footer"></div>

</body>
</html>