<!DOCTYPE html>
<html>
<head>
    <title>{{= title }} - Enjoy Life</title>
    <link rel="stylesheet" href="/css/reset.css"/>
    <link rel="stylesheet" href="/css/open-iconic.min.css"/>
    <link rel="stylesheet" href="/css/global.css"/>
</head>
<body>

<!--header start-->
<div id="fixed-header">
    <div id="header">
        <div id="auth">
            <a id="login" href="#">登录</a>
            <a id="register" href="#">注册</a>
            <span id="auth-account" class="text-highlight">Henry</span>
            <a id="logout" href="#">注销</a>
        </div>

        <h1 id="logo"><a href="/">Enjoy Life</a></h1>

        <ul class="menu">
            <li>
                <a href="#">
                    <span class="oi" data-glyph="list-rich" title="日志" aria-hidden="true">&nbsp;日志</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="oi" data-glyph="aperture" title="相册" aria-hidden="true">&nbsp;相册</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="oi" data-glyph="comment-square" title="吐槽" aria-hidden="true">&nbsp;吐槽</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="oi" data-glyph="thumb-up" title="微博" aria-hidden="true">&nbsp;微博</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="oi" data-glyph="laptop" title="源代码" aria-hidden="true">&nbsp;源代码</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="oi" data-glyph="info" title="关于" aria-hidden="true">&nbsp;关于</span>
                </a>
            </li>
            <li>
                <a href="/test">
                    <span class="oi" data-glyph="dollar" title="Test" aria-hidden="true"></span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!--header end-->

<div id="main-warp">

    <!--sidebar start-->
    <div id="sidebar">
        {{- partial('share/sideBlock') }}
        {{- partial('share/sideBlock') }}
        {{- partial('share/sideBlock') }}
        {{- partial('share/sideBlock') }}
    </div>
    <!--sidebar end-->

    <!--content start-->
    <div id="content">
        {{- body -}}
    </div>
    <!--content end-->

</div>

<div class="clear"></div>

<!--footer start-->
<div id="footer">
    Copyright &copy; - <strong>Henry</strong> - {{= new Date().getFullYear() }}
</div>
<!--footer end-->

</body>
</html>