<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <title>{{ if(locals.title) { }} {{= locals.title }} - {{ } }}Enjoy Life</title>

    <link type="text/css" rel="stylesheet" href="/lib/SemanticUI/css/semantic.min.css"/>
    <script type="text/javascript" src="/lib/jQuery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/lib/SemanticUI/javascript/semantic.js"></script>
    <style type="text/css">
        body {
            font-family: Arial, serif;
        }
    </style>
</head>
<body>

<div class="ui menu">
    <div class="menu" id="fixed-top-menu">
        <a class="active orange item" href="/">
            <i class="icon home"></i> <strong>Enjoy life</strong>
        </a>
        <a class="teal item" href="/blog">
            <i class="browser icon"></i> 日志
        </a>
        <a class="purple item" href="/gallery">
            <i class="photo icon"></i> 相册
        </a>

        <div class="right menu">

            <div class="item">
                <div id="btnLogin" class="ui blue button popup-item" data-content="登录" data-position="bottom center"><i
                        class="icon sign in"></i> 登录
                </div>
                <div id="btnRegister" class="ui green button link popup-item" data-content="注册"
                     data-position="bottom center"><i class="icon user"></i> 注册
                </div>
            </div>

            <div class="ui simple dropdown item">
                <i class="icon users"></i> 个人中心 <i class="icon dropdown"></i>

                <div class="menu">
                    <a class="item"><i class="edit icon"></i>编辑个人信息</a>
                    <a class="item"><i class="globe icon"></i>选择语言</a>
                    <a class="item"><i class="settings icon"></i>账户设置</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui grid">
    <div class="equal height row">
        <div class="thirteen wide column">
            {{- body }}
        </div>
        <div class="three wide column">
            <div class="ui fluid vertical menu">
                <a class="header item" href="/blog">
                    日志
                    <i class="browser icon"></i>
                </a>

                <div class="item">
                    College
                    <div class="menu">
                        <a class="item">Baseball</a>
                        <a class="item">Basketball</a>
                        <a class="item">Golf</a>
                    </div>
                </div>
                <a class="item">
                    Dance
                </a>
                <a class="item">
                    Aerobics
                </a>

                <a class="header item" href="/gallery">
                    <i class="photo icon"></i>
                    相册
                </a>
                <a class="item">
                    New York
                </a>
                <a class="item">
                    Montreal
                </a>
                <a class="item">
                    Los Angeles
                </a>
                <a class="item">
                    San Francisco
                </a>
            </div>
        </div>
    </div>
</div>

<div id="modalLogin" class="ui small modal">
    <i class="close icon"></i>

    <div class="ui blue inverted header">登录</div>
    <div class="content">
        <div class="ui form">
            <div class="field">
                <label>用户名/Email</label>

                <div class="ui left labeled icon input">
                    <input placeholder="用户名" type="text"/>
                    <i class="user icon"></i>

                    <div class="ui corner label">
                        <i class="icon asterisk"></i>
                    </div>
                </div>
            </div>
            <div class="field">
                <label>密码</label>

                <div class="ui left labeled icon input">
                    <input placeholder="密码" type="password"/>
                    <i class="lock icon"></i>

                    <div class="ui corner label">
                        <i class="icon asterisk"></i>
                    </div>
                </div>
            </div>
            <div class="ui error message">
                <div class="header">发生了错误</div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui button">取消</div>
        <div class="ui blue submit button">登录</div>
    </div>
</div>

<div id="modalRegister" class="ui small modal">
    <i class="close icon"></i>

    <div class="ui teal inverted header">注册</div>
    <div class="content">
        <div class="ui form">
            <div class="field">
                <label>用户名</label>

                <div class="ui left labeled icon input">
                    <input placeholder="用户名" type="text"/>
                    <i class="user icon"></i>

                    <div class="ui corner label">
                        <i class="icon asterisk"></i>
                    </div>
                </div>
            </div>
            <div class="field">
                <label>Email</label>

                <div class="ui left labeled icon input">
                    <input placeholder="Email" type="email"/>
                    <i class="icon mail"></i>

                    <div class="ui corner label">
                        <i class="icon asterisk"></i>
                    </div>
                </div>
            </div>
            <div class="field">
                <label>密码</label>

                <div class="ui left labeled icon input">
                    <input placeholder="密码" type="password"/>
                    <i class="lock icon"></i>

                    <div class="ui corner label">
                        <i class="icon asterisk"></i>
                    </div>
                </div>
            </div>

            <div class="ui error message">
                <div class="header">发生了错误</div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui button">取消</div>
        <div class="ui teal submit button">注册</div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#fixed-top-menu > .item').removeClass('active');
        $('#fixed-top-menu > .item[href="' + window.location.pathname + '"]').addClass('active');
    });
</script>
<script type="text/javascript">
    $(function () {
        $(".popup-item").popup();
    });
</script>
<script type="text/javascript">
    function ShowLoginModal() {
        $("#modalLogin").modal('show');
    }

    function ShowRegisterModal() {
        $('#modalRegister').modal('show');
    }

    $(function () {
        $('#btnLogin').click(ShowLoginModal);
        $('#btnRegister').click(ShowRegisterModal);
    });
</script>

</body>
</html>