<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <title>{{= typeof(title) === 'undefined' ? '' : title + ' - ' }}Enjoy Life</title>

    <link type="text/css" rel="stylesheet" href="/lib/SemanticUI/css/semantic.min.css"/>
    <script type="text/javascript" src="/lib/jQuery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/lib/SemanticUI/javascript/semantic.js"></script>
    <style type="text/css">
        body {
            font-family: Arial, serif;
        }
    </style>
</head>
<body>

<div class="ui menu">
    <div class="menu" id="fixed-top-menu">
        <a class="active orange item" href="/">
            <i class="icon home"></i> <strong>Enjoy life</strong>
        </a>
        <a class="teal item" href="/blog">
            <i class="browser icon"></i> 日志
        </a>
        <a class="purple item" href="/gallery">
            <i class="photo icon"></i> 相册
        </a>

        <div class="right menu">

            <div class="item">
                <div class="ui blue button popup-item" data-content="登录" data-position="bottom center"><i class="icon sign in"></i> 登录</div>
                <div class="ui green button link popup-item" data-content="注册" data-position="bottom center"><i class="icon user"></i> 注册</div>
            </div>

            <div class="ui simple dropdown item">
                <i class="icon users"></i> 个人中心 <i class="icon dropdown"></i>

                <div class="menu">
                    <a class="item"><i class="edit icon"></i>编辑个人信息</a>
                    <a class="item"><i class="globe icon"></i>选择语言</a>
                    <a class="item"><i class="settings icon"></i>账户设置</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui grid">
    <div class="equal height row">
        <div class="thirteen wide column">
            {{- body }}
        </div>
        <div class="three wide column">
            <div class="ui fluid vertical menu">
                <a class="header item" href="/blog">
                    日志
                    <i class="browser icon"></i>
                </a>

                <div class="item">
                    College
                    <div class="menu">
                        <a class="item">Baseball</a>
                        <a class="item">Basketball</a>
                        <a class="item">Golf</a>
                    </div>
                </div>
                <a class="item">
                    Dance
                </a>
                <a class="item">
                    Aerobics
                </a>

                <a class="header item" href="/gallery">
                    <i class="photo icon"></i>
                    相册
                </a>
                <a class="item">
                    New York
                </a>
                <a class="item">
                    Montreal
                </a>
                <a class="item">
                    Los Angeles
                </a>
                <a class="item">
                    San Francisco
                </a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#fixed-top-menu > .item').removeClass('active');
        $('#fixed-top-menu > .item[href="' + window.location.pathname + '"]').addClass('active');
    });
</script>
<script type="text/javascript">
    $(function () {
        $(".popup-item").popup();
    });
</script>

</body>
</html>