<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Test Css</title>
    <link type="text/css" rel="stylesheet" href="/SemanticUI/css/semantic.min.css" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
    <script type="text/javascript" src="/SemanticUI/javascript/semantic.min.js"></script>
</head>
<body>
<div class="ui six column divided grid">
    <div class="row">
        <div class="column">
            <p>爱酷学习网：免费提供高清在线观看视频教程。</p>
        </div>
        <div class="column">
            <p>爱酷学习网：免费提供高清在线观看视频教程。</p>
        </div>
        <div class="column">
            <p>爱酷学习网：免费提供高清在线观看视频教程。</p>
            <p>爱酷学习网：免费提供高清在线观看视频教程。</p>
        </div>
        <div class="column">
            <p>爱酷学习网：免费提供高清在线观看视频教程。</p>
        </div>
        <div class="column">
            <p>爱酷学习网：免费提供高清在线观看视频教程。</p>
        </div>
        <div class="column">
            <p>爱酷学习网：免费提供高清在线观看视频教程。</p>
            <p>爱酷学习网：免费提供高清在线观看视频教程。</p>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <p>爱酷学习网：免费提供高清在线观看视频教程。</p>
        </div>
        <div class="column">
            <p>爱酷学习网：免费提供高清在线观看视频教程。</p>
        </div>
        <div class="column">
            <p>爱酷学习网：免费提供高清在线观看视频教程。</p>
            <p>爱酷学习网：免费提供高清在线观看视频教程。</p>
        </div>
        <div class="column">
            <p>爱酷学习网：免费提供高清在线观看视频教程。</p>
        </div>
        <div class="column">
            <p>爱酷学习网：免费提供高清在线观看视频教程。</p>
        </div>
        <div class="column">
            <p>爱酷学习网：免费提供高清在线观看视频教程。</p>
            <p>爱酷学习网：免费提供高清在线观看视频教程。</p>
        </div>
    </div>
</div>
</body>
</html>