/* 公共 */

body { font-family: Arial, serif; background: #fff url(../img/bg.png) repeat; color: #222; min-width: 1000px; }

a:link, a:visited { color: #09c; text-decoration: none; }
a:hover, a:active { color: #369; text-decoration: none; }

.clear { clear: both; }

.text-highlight { color: #09c; }
a.text-highlight { color: #f60; }

/* end 公共 */

/* 头部 */

#fixed-header { position: fixed; top: 0; width: 100%; }

.header { position: absolute; width: 100%; height: 50px; background-color: #369; box-shadow: 0 1px 2px #369; }
.header a { color: #fff; }
.header a:hover, a:active { color: #09c; }

.logo { float: left; padding: 8px 40px; display: inline-block; }
.logo i { font-size: 18px; }

.header .nav { float: left; margin-top: 18px; }
.nav { font-weight: bold; }
.nav li { display: inline; position: relative; margin: 0 4px; }
.nav li a { padding: 8px; }
.nav li:hover .link { background: #fff; color: #09c; }
.nav li:hover > .sub { display: block; }
.nav .sub { display: none; position: absolute; top: 27px; background: #369; box-shadow: 1px 1px 1px #369; }
.nav .sub li:first-child { padding-top: 12px; }
.nav .sub li:last-child { padding-bottom: 8px; }
.nav .sub li { white-space: nowrap; display: block; padding: 0 0 12px; margin: 0; }

#auth { float: right;; margin-top: 17px; margin-right: 20px; }
#auth a, #auth span { padding: 5px; }
#auth-account, #logout { display: none; }

/* end 头部 */

/* 内容 */

#content { margin-top: 50px; margin-right: 240px; padding: 20px; min-height: 830px; border-right: solid 1px #369; box-shadow: 1px 1px 1px #369; }

/* end 内容 */

/* side */

#sidebar { position: fixed; top: 50px; right: 0; width: 218px; padding: 15px 10px; }

.side-block { margin-top: 15px; line-height: 1.2; }
.side-block:first-child { margin-top: 0; }
.side-block .title { font-weight: bold; font-size: 1.2em; color: #369; }
.side-block .body { padding: 8px; }
.side-block .img { width: 100%; height: auto; }

/* end side */

/* Footer */

#footer { padding: 10px 0; text-align: center; background: #369; color: #fff; }

/* end Footer */

/* toolbar */

.toolbar { text-align: right; }
.add, .toolbar .add { color: #09c; }
.edit, .toolbar .edit { color: #0c0; }
.delete, .cancel, .toolbar .delete { color: #c00; }
.toolbar a { margin-left: 10px; }

/* toolbar end */

/* list */

.list { }
.list .item { width: 100%; margin-bottom: 30px; border-bottom: 1px #ccc solid; }
.list .item .title { font-weight: bold; font-size: 1.1em; }
.list .item .content { margin: 15px 4px; line-height: 1.1; padding: 5px }
.list .item .footer { padding: 5px 8px; font-size: 13px; text-align: right; }
.list .item .footer .info { margin-right: 10px; }
.list .item .footer .info:last-child { margin-right: 0; }
.list .item .footer .info a { border-bottom: 1px dotted #09c; }
.list .item .footer .link { float: left; }

/*list end*/

/* flow */

.flow { }
.flow .item { width: 23%; margin-top: 15px; margin-left: 1%; box-shadow: 2px 2px 8px #369; border-radius: 5px; display: inline-table; }
.flow .item .title { font-weight: bold; font-size: 1.1em; padding: 8px; background: #369; color: #fff; border-radius: 5px 5px 0 0; }
.flow .item .content { margin: 15px; line-height: 1.1; }
.flow .item .footer { padding: 5px 8px; text-align: right; font-size: 13px; color: #666; }

/* flow end */

/* block */

.blog { }
.blog .title { border-bottom: 1px solid #09c; color: #09c; padding-bottom: 5px; }
.blog .content { padding: 15px; line-height: 20px; }
.blog .pager { padding: 5px; text-align: center; }
.blog .pager .next { margin-left: 50px; }
.blog .info { padding: 5px; font-size: 13px; text-align: right; border-top: 1px dashed #369; }
.blog .info .item { margin-left: 10px; }
.blog .info .item a { border-bottom: 1px dotted #09c; }
.blog .comment { padding: 15px 0; }
.blog .comment-title { border-bottom: 1px solid #666; padding-bottom: 5px; margin-bottom: 20px; font-weight: bold; }
.blog .comment-item { margin-bottom: 20px; border-bottom: 1px solid #ccc; }
.blog .comment-item-title { color: #09c; font-size: 13px; }
.blog .comment-item-content { padding: 20px; }

/* block end */

/* form */

.form { }
.form-title { margin-top: 25px; font-size: 15px; font-weight: bold; }
.form-title:first-child { margin-top: 0; }
.form-content { }
.form-content .lg-width { width: 100%; }
.form-content .m-width { width: 250px; }
.form-btn-list { margin-top: 15px; text-align: center; }
.form-btn-list button { font-weight: bold; }

/* form end */