<ul class="nav">
    <li>
        <a href="/blog" title="日志"><i class="fa fa-files-o fa-fw"></i>日志</a>
        <ul class="sub">
            <li>
                <a href="/blog/create" title="添加日志"><i class="fa fa-plus fa-fw"></i>添加日志</a>
            </li>
            <li>
                <a href="/blog/create" title="添加日志"><i class="fa fa-plus fa-fw"></i>添加日志添加日志</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/gallery" title="相册"><i class="fa fa-photo fa-fw"></i>相册</a>
        <ul class="sub">
            <li>
                <a href="/gallery/create" title="添加相片"><i class="fa fa-plus fa-fw"></i>添加相片</a>
            </li>
            <li>
                <a href="/gallery/create" title="添加日志"><i class="fa fa-plus fa-fw"></i>添加日志添加日志</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#" title="吐槽"><i class="fa fa-comments fa-fw"></i>吐槽</a>
    </li>
    <li>
        <a href="#" title="微博"><i class="fa fa-weibo fa-fw"></i>微博</a>
    </li>
    <li>
        <a href="#" title="源代码"><i class="fa fa-code fa-fw"></i>源代码</a>
    </li>
    <li>
        <a href="#" title="关于"><i class="fa fa-info fa-fw"></i>关于</a>
    </li>
    <li>
        <a href="/test" title="Test"><i class="fa fa-cloud fa-fw"></i>Test</i></a>
    </li>
</ul>