<div class="side-block">
    <div class="title" alt="标题">标题</div>
    <div class="body">
        <ul>
            <li><a href="#">Link A</a></li>
            <li><a href="#">Link A</a></li>
            <li><a href="#">Link A tests</a></li>
            <li><a href="#">Link A</a></li>
            <li><a href="#">Link A</a></li>
        </ul>
    </div>
</div>