<div class="blog">

    <h2 class="title">Title</h2>

    <div class="content">
        <p>
            Content Content Content
        </p>

        <p>
            Content
        </p>
    </div>

    <div class="pager">
        <a href="#"><i class="fi-arrow-left"></i> Previous blog</a>
        <a class="next" href="#">Next blog <i class="fi-arrow-right"></i></a>
    </div>

    <div class="info">
        <span class="item"> 分类: <a href="#">Category</a></span>
        <span class="item"> 标签: <a href="#">Tag</a> <a href="#">Tag</a> <a href="#">Tag</a></span>
        <span class="item"> 阅读:(0)</span>
    </div>

    <div class="comment">
        <ul>
            <li>Comment</li>
            <li>Comment</li>
        </ul>
    </div>

</div>