<div class="toolbar">
    <a href="/blog/create" title="添加"><i class="fa fa-plus fa-fw"></i> 添加</a>
</div>
<div class="list">
    {{ list.forEach(function(item, index){ }}
    <div class="item">
        <div class="title">
            <a href="/blog/{{- item.Id }}">{{- item.Title}}</a>
        </div>
        <div class="content">{{- item.Description }}</div>
        <div class="footer">
            <a class="text-highlight link" href="/blog/{{- item.Id }}"> 详细阅读 </a>
            <span class="info"> {{- item.Author }} @ {{- item.CreateTime.format() }}</span>
            <span class="info"> 分类: <a href="/blog/category/{{= item.Category }}">{{- item.Category }}</a></span>
            <span class="info"> 标签:&nbsp;
                {{ item.Tags.forEach(function(tag, index) { }}
                <a href="/blog/tag/{{= tag }}">{{- tag }}</a>&nbsp;
                {{ }); }}
            </span>
            <span class="info"> 阅读:({{- item.CntRead }})</span>
            <span class="info"> 评论:({{- item.CntComment }})</span>
        </div>
    </div>
    {{ }); }}
</div>