<div class="list">
    {{ for(var i = 1; i <= len; i++ ) { }}
    <div class="item">
        <div class="title">
            <a href="/blog/{{= i }}">Title {{= i }}</a>
        </div>
        <div class="content">
            Item {{= i }}<br/>
            Item {{= i }}
        </div>
        <div class="footer">
            <a class="text-highlight link" href="/blog/{{= i }}"> 详细阅读 </a>
            <span class="info"> Henry post @ {{= new Date().getFullYear() + '-' + (new Date().getMonth() + 1) + '-' + new Date().getDate() }}</span>
            <span class="info"> 分类:<a href="#">Category</a></span>
            <span class="info"> 标签:<a href="#">Tag</a> <a href="#">Tag</a> <a href="#">Tag</a></span>
            <span class="info"> 阅读:(0)</span>
            <span class="info"> 评论:(0)</span>
        </div>
    </div>
    {{ } }}
</div>